# Python virtual environment
.venv/


# Python cache
__pycache__/
*.py[cod]

# Environment variables / secrets
.env
.env.*

# Keep an example environment file
!.env.example

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db